* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sound-btn {
  height: 30%;
  padding: 3px;
}

.pokedex {
  /* align-items: flex-end; */
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 50px;
  width: 90%;
}

.left-container,
.right-container {
  border: 3px solid black;
  width: 50%;
}

.left-container {
  background: #e71d23;
  height: 100%;
  width: calc(70% + 50px);
}

.left-container__top-section {
  border-bottom: 3px solid black;
  display: flex;
  height: 50px;
  padding: 8px;
}

.top-section__blue {
  background: radial-gradient(
    farthest-corner at 10px 10px,
    white,
    #369cd4,
    #369cd4
  );
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  height: 30px;
  width: 30px;
}

.top-section__small-buttons {
  display: flex;
  margin: 0 25px;
}

.top-section__red,
.top-section__yellow,
.top-section__green {
  border-radius: 50%;
  border: 1px solid black;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.left-container__main-section-container {
  display: flex;
  height: calc(100% - 50px);
}

.left-container__main-section {
  height: 100%;
  padding: 25px;
  width: 120%;
}

.main-section__white {
  background: #dedede;
  border: 3px solid black;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 90%;
}

.main-section__black {
  background: black;
  height: calc(100% - 50px);
  margin: 25px;
  padding: 10px;
  width: calc(100% - 50px);
}

/* .main-screen {
  border-radius: 15px;
  height: 100%;
  padding: 15px;
} */

.screen__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.poke-name {
  color: white;
  font-size: 150%;
  font-weight: bold;
  padding-left: 3%;
}

.poke-id {
  color: white;
  font-size: 100%;
  padding-right: 3%;
}

.screen__image {
  display: flex;
  justify-content: space-around;
}

.poke-front-image,
.poke-back-image {
  height: auto;
  width: 45%;
}

.screen__description {
  display: flex;
  height: 30%;
  justify-content: space-around;
}

.screen__stats {
  font-size: 90%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 70%;
  /* justify-content: space-between; */
  padding: 3%;
}

.stats__types {
  font-size: 90%;
  height: auto;
  padding: 5px;
}

.poke-type-one,
.poke-type-two {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.left-container__controllers {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 25px 0;
}

.controllers__d-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.d-pad__cell {
  background: black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  height: 25px;
  width: 25px;
}

.d-pad__cell.top {
  border-left: 1px solid dimgrey;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.d-pad__cell.left {
  border-bottom: 1px solid dimgrey;
  border-left: 1px solid dimgrey;
  border-radius: 5px 0 0 5px;
  border-top: 1px solid dimgrey;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.d-pad__cell.middle {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.d-pad__cell.right {
  border-bottom: 1px solid dimgrey;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.d-pad__cell.bottom {
  border-bottom: 1px solid dimgrey;
  border-left: 1px solid dimgrey;
  border-radius: 0 0 5px 5px;
  border-right: 1px solid dimgrey;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.controllers__buttons {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.buttons__button {
  align-items: center;
  background: black;
  border-radius: 50%;
  border: 1px solid dimgrey;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.buttons__button:first-child {
  margin-top: 5px;
}

.buttons__button:last-child {
  margin-top: -5px;
}

.left-container__right {
  border-left: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 50px;
}

.left-container__hinge {
  background: linear-gradient(to right, #7f100f, #e71d23, #e71d23, #7f100f);
  height: 75px;
  width: 100%;
}

.left-container__hinge:first-child {
  border-bottom: 3px solid black;
}

.left-container__hinge:last-child {
  border-top: 3px solid black;
}

.top-section__red {
  background: #7f100f;
}

.top-section__yellow {
  background: #edf18e;
}

.top-section__green {
  background: #33915a;
}

.hide {
  display: none;
}

.normal {
  background: #babaae;
  border-radius: 3%;
  height: 100%;
}

.fighting {
  background: #a75543;
  border-radius: 3%;
  height: 100%;
}

.flying {
  background: #78a2ff;
  border-radius: 3%;
  height: 100%;
}

.poison {
  background: #a95ca0;
  border-radius: 3%;
  height: 100%;
}

.ground {
  background: #eecc55;
  border-radius: 3%;
  height: 100%;
}

.rock {
  background: #ccbd72;
  border-radius: 3%;
  height: 100%;
}

.bug {
  background: #c2d21e;
  border-radius: 3%;
  height: 100%;
}

.ghost {
  background: #7975d7;
  border-radius: 3%;
  height: 100%;
}

.steel {
  background: #c4c2db;
  border-radius: 3%;
  height: 100%;
}

.fire {
  background: #fa5643;
  border-radius: 3%;
  height: 100%;
}

.water {
  background: #56adff;
  border-radius: 3%;
  height: 100%;
}

.grass {
  background: #8cd750;
  border-radius: 3%;
  height: 100%;
}

.electric {
  background: #fde139;
  border-radius: 3%;
  height: 100%;
}

.psychic {
  background: #fa65b4;
  border-radius: 3%;
  height: 100%;
}

.ice {
  background: #96f1ff;
  border-radius: 3%;
  height: 100%;
}

.dragon {
  background: #8673ff;
  border-radius: 3%;
  height: 100%;
}

.dark {
  background: #8d6855;
  border-radius: 3%;
  height: 100%;
}

.fairy {
  background: #f9aeff;
  border-radius: 3%;
  height: 100%;
}
