.list-item {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 25px;
  overflow-x: hidden;
  padding-left: 5px;
  width: 50%;
}

.list-item:hover {
  background: #85cbf2;
  color: black;
}

.list-item:active {
  background: #1280f2;
  color: white;
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
/* background-color: DodgerBlue;
  max-width: 120px;
} */

/* .flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
/* }  */
