.element-container {
  position: relative;
}

.image {
  opacity: 1;
  width: min-content;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.element-container:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.element-container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  background-color: #4c72af;
  color: white;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 16px;
  padding: 5px 32px;
}

.element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: DodgerBlue;
  /* max-width: 75%; */
}
