/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.pokedex {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  /* margin: 50px; */
  width: 100%;
}

.right-container {
  border: 3px solid black;
  width: 300px;
}

.right-container {
  background: #e71d23;
  /* height: calc(100% - 50px); */
  padding: 25px;
  /* width: 80%; */
}

.right-container__black {
  background: black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  /* height: 50%; */
  padding: 10px;
}

.right-container__screen {
  background: #43b0f2;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 100%; */
  padding: 15px 15px 0;
}

.hide {
  display: none;
}

.normal {
  background: #babaae;
}

.fighting {
  background: #a75543;
}

.flying {
  background: #78a2ff;
}

.poison {
  background: #a95ca0;
}

.ground {
  background: #eecc55;
}

.rock {
  background: #ccbd72;
}

.bug {
  background: #c2d21e;
}

.ghost {
  background: #7975d7;
}

.steel {
  background: #c4c2db;
}

.fire {
  background: #fa5643;
}

.water {
  background: #56adff;
}

.grass {
  background: #8cd750;
}

.electric {
  background: #fde139;
}

.psychic {
  background: #fa65b4;
}

.ice {
  background: #96f1ff;
}

.dragon {
  background: #8673ff;
}

.dark {
  background: #8d6855;
}

.fairy {
  background: #f9aeff;
}
