@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  border-bottom: 1px solid #f2f2f2;
}
.navbar div {
  font-size: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar Link:hover {
  color: #f1356d;
}
